@using PracticalTask.Common

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1>Welcome to Practical task.</h1>
        <h3 class="mt-3">Please select which guids you would like to see.</h3>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-md-3">
            <a class="btn btn-primary"asp-controller="GuidModel" asp-action="Active">Active guids</a>
        </div>        
        <div class="col-md-3">
            <a class="btn btn-primary"asp-controller="GuidModel" asp-action="ReadyToSave">Ready to save guids</a>
        </div>        
        <div class="col-md-3">
            <a class="btn btn-primary"asp-controller="GuidModel" asp-action="Saved">Saved guids</a>
        </div>        
        <div class="col-md-3">
            <a class="btn btn-primary" asp-controller="GuidModel" asp-action="Cancelled">Cancelled guids</a>
        </div>
    </div>
</div>
